<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="app.js"></script>
</head>
<body>
    <nav id="navigation" ng-controller="MainController">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class=""><a href="store.html">Home</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="cart.html">Checkout</a></li>
                    <li><a  ng-if="isAdmin" ng-click="goToAdmin()">Admin</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
</body>
</html>